.news-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 kolom sama lebar */
    gap: 25px;
    margin-bottom: 50px;
}

.news-card {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
}

.news-card:hover {
    transform: translateY(-8px);
}

img{
    width: 100px;
}

.news-content {
    padding: 20px;
}

.news-content h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: var(--text-dark);
}

.news-content p {
    font-size: 0.9rem;
    color: var(--text-light);
    margin-bottom: 15px;
}

/* Responsive: Jadi 1 kolom di HP */
@media (max-width: 992px) {
    .news-grid { grid-template-columns: repeat(2, 1fr); }
}

@media (max-width: 600px) {
    .news-grid { grid-template-columns: 1fr; }
}